.header_Image{
    width: 50%;
    height: 50%;
}

.cursor{
    cursor: pointer;
}
.header-main_div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(221, 250, 240);
    font-family: 'Times New Roman', Times, serif;
}
.header_div_ch1{
    font-size: large;
    font-weight: 600;
    line-height: 20px;
}
.header_div_ch2{
    margin: 10px;
    font-size: large;
    font-weight: 600;
    line-height: 20px;
}
.header_div_ch3{
    margin: 10px;
    font-size: large;
    font-weight: 600;
    line-height: 20px;
}