/* @import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"); */

.App {
  text-align: center;
}
.formcontainer{
  margin: auto;
  width: 60%;
  border: 1px solid rgb(95, 95, 218);
  box-shadow: 4px 4px 4px 4px rgb(94, 94, 139);
}
.form-label{
  padding: 10px;
  margin: 10px;
}
.form-control{
  border-color: aqua;
}

