.conatiner{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    align-content: center;
    background-color:rgb(46, 45, 43);
    padding: 30px;
    font-variant: normal;
    color: aliceblue;
    
}