body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.mainContainer, .loginContainer{
  margin: 0px;
  color: rgb(88, 51, 9);
  background-color: rgb(3, 20, 36);
  height: 700px;
  padding: 20px;
}
.container, .loginbox {
  width: max-content;
  padding:20px 30px;
  background-color: rgb(247, 255, 255);
  position: absolute;
  left: 35%;
  border: 1px solid gray;
  border-radius: 2vh;
}
.leftBox{
  width: 25%;
  border: 1px solid greenyellow;
}
.centerBox{
  width: 50%;
  border: 1px solid greenyellow;
}
.rightBox{
  width: 25%;
  border: 1px solid greenyellow;
}
.trackingBox{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  margin: 30px;
}
.step1Box{
  width: max-content;
  height: max-content;
  padding:10px 5px;
  border-radius: 50%;
  z-index: 10;
  border: 2px solid red;
}
.step2Box{
  width: max-content;
  height: max-content;
  padding:10px 5px;
  border-radius: 50%;
  z-index: 10;
  border: 2px solid red;
}
.step3Box{
  width: max-content;
  height: max-content;
  padding:10px 5px;
  border-radius: 50%;
  z-index: 10;
  border: 2px solid red;
}
.line1{
  width: 25%;
  position: absolute;
  left:20%;
  top: 8%;
  border: 4px solid green;
}
.line2{
  width: 24%;
  position: absolute;
  float: right;
  right: 24.5%;
  top: 7.7%;
  border: 4px solid rgb(49, 0, 128);
}


